In [26]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:rootroot@localhost/corebooks"

In [27]:
engine = create_engine(connection_str)

In [28]:
create_database(connection_str)

In [29]:
database_exists(connection_str)

True

In [30]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [31]:
import pandas as pd
df = pd.read_csv('/Users/faris/Downloads/data.csv')
df

,First Name,Last Name,Email,Book Title,Book Author
0,John,Doe,JD@books.com,The Shining,Stephen King
1,John,Doe,JD@books.com,It,Stephen King
2,John,Doe,JD@books.com,The Great Gatsby,F. Scott Fitzgerald
3,Robin,Smith,Robin@books.com,The Call of the Wild,Jack London
4,Robin,Smith,Robin@books.com,Pride and Prejudice,Jane Austen
5,Gloria,Rodriguez,grodriguez@books.com,Pride and Prejudice,Jane Austen
6,Gloria,Rodriguez,grodriguez@books.com,Frankenstein,Mary Shelley

# Part 1 Designing the ERD

![png](/Users/faris/Documents/DataEnrichment/books_core.png)

# Part 2 Creating database in python

In [38]:
import pandas as pd

usersdf = pd.read_csv("/Users/faris/Downloads/data (1).csv")
booksdf = pd.read_csv("/Users/faris/Downloads/data (2).csv")
authorsdf = pd.read_csv("/Users/faris/Downloads/data (3).csv")
favoritesdf = pd.read_csv("/Users/faris/Downloads/data (4).csv")

In [40]:
users = usersdf.to_sql('users', engine, if_exists = 'replace')
books = booksdf.to_sql('books', engine, if_exists = 'replace')
authors = authorsdf.to_sql('authors', engine, if_exists = 'replace')
favorites = favoritesdf.to_sql('favorites', engine, if_exists = 'replace')

In [41]:
q1 = """SHOW TABLES;"""
pd.read_sql(q1, engine)

  Tables_in_corebooks
0             authors
1               books
2           favorites
3               users

In [42]:
q2 = """SELECT books.title, favorites.user_id 
       FROM books
       JOIN favorites ON books.id = favorites.book_id
       WHERE favorites.user_id = (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""

pd.read_sql(q2,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1